<% content_for :head do %>
<% end %>

<% commit = @commit%>
<h1>油价记录</h1>
<%= will_paginate @records unless commit %>
<div style="overflow-x: auto; overflow-y: auto;width:100%;">
<table>
  <thead>
    <tr>
      <th>地区</th>
      <th>标准</th>
      <th>类型</th>
      <th>油价</th>
      <th>编辑人员</th>
      <th>数据版本</th>
      <th>更新时间</th>
      <%if !commit%>
        <th>删除记录</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |item| %>
    <tr>
      <td><%= link_to item.region.name, region_path(item.region)%></td>     
      <td><%= item.oiltype.standard.name %></td>     
      <td><%= item.oiltype.name %></td>     
      <td><%= item.value %></td>     
      <td><%= item.user ? item.user.name : nil %></td>     
      <td><%= item.revision ? (item.revision.id.to_s + " " + item.revision.name) : nil%></td>     
      <td><%= item.local_updated_at%></td>
      <%if !commit && !item.uploaded%> 
        <td><%= link_to "删除记录", record_path(item), method: :delete%></td>
      <%elsif !commit && item.uploaded%> 
        <td>已上传</td>
      <%end%>
    </tr>
    <% end %>
  </tbody>
</table>
<%if commit&& @records.length>0%>
  <a href=<%=push_diff_records_path+"?execute=1"%>>
  <button class="btn btn-default w3ls-button">上传服务器</button>
  </a>
<%end%>
</div>
