<% content_for :head do %>
<% end %>
<h1>版本日志</h1>
<div style="overflow-x: auto; overflow-y: auto;width:100%;">
<table>
  <thead>
    <tr>
      <th>地区</th>
      <th>标准</th>
      <th>类型</th>
      <th>油价</th>
      <th>编辑人员</th>
      <th>数据版本</th>
      <th>更新时间</th>
      <th>回退版本</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |item| %>
    <tr>
      <td><%= link_to item.region.name, region_path(item.region)%></td>     
      <td><%= item.oiltype.standard.name %></td>     
      <td><%= item.oiltype.name %></td>     
      <td><%= item.value %></td>     
      <td><%= item.user ? item.user.name : nil %></td>     
      <td><%= item.revision ? (item.revision.id.to_s + " " + item.revision.name) : nil%></td>     
      <td><%= item.updated_at.localtime.strftime("%Y/%m/%d %H:%M:%S")%></td>     
      <td><%= link_to "回退版本", record_path(item), method: :delete%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
