<!DOCTYPE html>
<html>
  <head>
    <title>Oilprice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <nav class="main-menu">
    <ul>    
      <li>
        <a href=<%=regions_path%>>
          <i class="icon-table nav-icon"></i>
          <span class="nav-text">
          全国
          </span>
        </a>
      </li>    
      <%= yield :nav %>
    </ul>
    <ul class="logout">
      <li>
      <a href="login.html">
      <i class="icon-off nav-icon"></i>
      <span class="nav-text">
      发布
      </span>
      </a>
      </li>
    </ul>
  </nav>
  <section class="wrapper scrollable">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <%= link_to('注销', destroy_user_session_path, :method => :delete,class:"label label-info") %> |
      <%= link_to('修改密码', edit_registration_path(:user),class:"label label-info") %>
    <% else %>
      <%= link_to('注册', new_registration_path(:user),class:"label label-info") %> |
      <%= link_to('登录', new_session_path(:user),class:"label label-info") %>
    <% end %>      
    <%= yield %>  
  </section>
  </body>
</html>
